{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid" id="overlay" style="background-image:url('https://s3.envato.com/files/169416072/01_62_16_Hacker_Hood_Displays_Dark.jpg'),opacity:0.6;">
<div class="container">
    <div class="card">
        <div class="view overlay">
            <img class="card-img-top"  width="100%"
                 src="https://s3.envato.com/files/169416072/01_62_16_Hacker_Hood_Displays_Dark.jpg" alt="">
            <p>
                <div class="mask rgba-black-slight">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6 d-flex flex-row mx-auto">
                                {% for rating in post.ratings.all %}
                                {% if forloop.counter is post.ratings.all.count %}
                                <div id="design">{{ rating.design_average}}<br>
                                    <span class="rates">design</span>
                                </div>
                                <div id="usable" class="mx-auto">{{ rating.usability_average }}<br>
                                    <span class="rates">usability</span>
                                </div>
                                
                                <div id="contente">{{ rating.content_average }}<br>
                                                                
                                    <span class="rates">content</span>
                                                                
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>

                </div>
            </p>
        </div>
        <div class="card-body">
            <h5 class="card-title" ><strong>{{post.title|title}}</strong>
                <a href="{{ post.link }}" style="float:right;color:yellow" class="btn btn-sm btn-dark mr-4"> Visit </a></h5>
            </p>
            <p>{{ post.description }}</p>
            <hr>
            <p class="card-text "><img src="{{post.user.profile.profile_picture.url}}" class="nav-img mr-2" alt="">
             <span style="float:right">{{post.posted|date}}</span>
            </p>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h3 class="D-block mx-auto">Ratings Scores</h3>
                    {% for rating in post.ratings.all %}
                    {% if forloop.counter is post.ratings.all.count %}
                    <a style="color:yellow;" class="btn btn-dark btn-sm" ><h5>{{ rating.score }}</h5>
                        <span class="sc">Average Score</span>
                    </a>
                    <a style="color:white;" class="btn btn-warning btn-sm" ><h5>{{ rating.design_average }}</h5>
                        <span class="sc">Design Average</span>
                    </a>
                    <a style="color:white;" class="btn btn-primary btn-sm" id="u"><h5>{{ rating.usability_average }}</h5>
                        <span class="sc">Usability Average</span>
                    </a>
                    <a style="color:yellow;" class="btn btn-danger btn-sm" id="c"><h5>{{ rating.content_average }}</h5>
                        <span class="sc">Content Average</span>
                    </a>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="col-md-2"></div>
            </div>

            {% if rating_status %}
            <div class="alert alert-success">
                <strong>Success!</strong>You have already voted
            </div>
            {% else %}
            {% if user.is_authenticated %}
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{rating_form|crispy}}
                <button class="btn btn-dark" style="color:yellow;">Rate</button>
            </form>
            {% endif %}
            {% endif %}
        </div>

    </div>
</div>
</div>

{% endblock %}